
*.zip
Final_Project/archive/MVCollisionsDataDictionary_20190813_ERD.xlsx
Final_Project/nypd-motor-vehicle-collisions.csv
Week 5/'tdl.csv'
Week 5/tdl.csv
Final_Project/Motor_Vehicle_Collisions_-_Crashes_20240819.csv
